.button {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  /* height: 32px; */
  padding: 6.5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #e5e5e5;
}

.text {
  font-family: "Roboto";
  font-size: 14px;
}

.activeBtn {
  background-color: #606060;
  color: white;
  border: 0;
}

.activeBtn:hover {
  background-color: #909090;
}
